form {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

form > * {
  margin: 1.8vh;
}

.search-input {
  height: 3vh;
}

.submit-btn {
  align-items: center;
  background: rgb(6, 97, 99, 0.8);
  border: none;
  border-radius: 5px;
  box-shadow: #858383 0 2px 7.5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 3.5vh;
  padding: 0.5vh 0.8vw;
  transition: 0.5s;
}

.submit-btn:hover {
  background: #066163;
}

.submit-btn:disabled {
  background: rgb(6, 97, 99, 0.6);
  cursor: default;
}

@media screen and (max-width: 915px) {
  .submit-btn {
    padding: 1vh 2vw;
  }
}
